#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto Mono;
  box-sizing: border-box;
  width: 380px;
  height: 270px;
  padding: 25px;
  padding-bottom: 15px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(52, 81, 94, 0.35);
}

#home label {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 13px;
  width: 100%;
}

#home #input-container {
  margin-bottom: 15px;
}

#home button {
  margin-top: 15px;
  width: 50%;
  background: linear-gradient(175.8deg, #ff5c85 9.19%, #ff3266 91.81%);
  color: #fff;
  border: none;
  opacity: 0.9;
}

#home button:hover {
  opacity: 1;
}

#home span {
  color: #34515e;
  display: flex;
  align-items: center;
}

#home .message {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

@media screen and (max-width: 451px) {
  #home {
    width: 90%;
  }

  #home .message {
    font-size: 14px;
  }

  #home .error-message {
    font-size: 11px;
  }
}
