#background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#statistics {
  font-family: Roboto Mono;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 302px;
  background: #fff;
  box-shadow: 0px 2px 6px rgba(52, 81, 94, 0.35);
  border-radius: 10px;
}

.row {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row:first-of-type {
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
}

.row:nth-child(1),
.row:nth-child(2) {
  height: 20px;
}

.container-time {
  box-sizing: border-box;
  height: 69.5px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 28.5px;
  border-top: 1px solid #aabdc6;
  border-bottom: 1px solid #aabdc6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.internal-container-time {
  width: 100%;
}

.total-time {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

h2 {
  font-family: Roboto;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #34515e;
}

.player-infos,
.time-value {
  box-sizing: border-box;
  width: 22%;
  text-align: center;
}

.time-value.player-1,
.player-infos.player-1 {
  margin-left: 30px;
}
.time-value.player-2,
.player-infos.player-2 {
  margin-right: 30px;
}

.player-infos p {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.player-infos p:first-of-type {
  margin: 0;
  font-size: 30px;
}

.player-infos p:nth-of-type(2) {
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
}

.player-1 {
  color: #ff3266;
  font-weight: bold;
}

.player-2 {
  color: #30cb76;
  font-weight: bold;
}

#x {
  font-size: 30px;
  color: #aabdc6;
}

.time-title {
  width: 44%;
  text-align: center;
}

.time-value,
.time-title,
.time-total {
  font-size: 12px;
}

.time-title,
.time-total {
  color: #607d8b;
}

.time-total {
  font-weight: bold;
  margin-top: -10px;
}

@media screen and (max-width: 451px) {
  #buttons-container {
    flex-direction: column;
  }

  #statistics {
    width: 90%;
  }

  .time-value,
  .time-title,
  .time-total {
    font-size: 10px;
  }

  .time-value.player-1,
  .player-infos.player-1 {
    margin-left: 15px;
  }
  .time-value.player-2,
  .player-infos.player-2 {
    margin-right: 15px;
  }
}
