#square {
  background-color: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.winningMove svg path{
  fill: blue!important;
}

.notWinningMove svg path {
  fill: #AABDC6;
}